body {
    background-color: rgb(222, 152, 11);
}
h1 {
    text-align: center;
}
.head1 {
    background-color: cadetblue;
    color: white;
}
#head2 {
    background-color: beige;
    color: dodgerblue;
}
.upper-content{
    background-color: rgb(222, 152, 11);
}
.footer{
    background-color: rgb(89, 129, 8);
}
.foo{
    background-color: rgb(71, 46, 120);
}
div a {
    background-color: rgb(222, 152, 11);
    padding: 10px;
}
a > h1 {
background-color: blanchedalmond;
color: rgb(222, 152, 11);
}
a + a {
    background-color: rgb(222, 152, 11);
}
p:hover {
    color:blueviolet;
    font-weight: bold;
}
p::before {
    content: "Title";
    color:rgb(89, 129, 8);
    font-weight: bold;
}
p::after {
    content: "yay";
    color: rgb(222, 152, 11);
    font-weight: bold;
}
p::selection {
    background-color: bisque;
    color: black;

}
